[ca]
default_ca=req

[req]
default_bits=16384
default_md=sha384
distinguished_name=req_distinguished_name
attributes=req_ext
x509_extensions=v3_ext
dirstring_type=nobmp
prompt=no

[req_distinguished_name]
C=US
ST=Massachusetts
L=Cambridge
O=MIT
OU=DevOp
CN=fochoao.xyz

[req_ext]
nsComment='OpenSSL Certificate fochoao.xyz'
prompt=no

[v3_ext]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
keyUsage=critical,digitalSignature,nonRepudiation,keyEncipherment,dataEncipherment
basicConstraints=critical,CA:TRUE,pathlen:3
extendedKeyUsage=clientAuth,serverAuth
subjectAltName=@alt_names

[alt_names]
DNS.1=www.fochoao.xyz
DNS.2=mail.fochoao.xyz
DNS.3=webdisk.fochoao.xyz
DNS.4=webmail.fochoao.xyz
DNS.5=cpanel.fochoao.xyz
DNS.6=autodiscover.fochoao.xyz
